.env
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lisätään .venv hakemisto .gitignoreen
.venv

outputs/tehtava3/output.xml
outputs/tehtava4/output.xml
outputs/tehtava5/output.xml
outputs/tehtava6/output.xml
outputs/*.png
outputs/*.txt
outputs/*.xml