:root {
  --primary: #69b3c8;
  --secondary: #edf7f6;
  --accent: #a8dadc;
  --dark: #1d3557;
  --light: #ffffff;
  --radius: 16px;
  --card-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

/*navigaatio mobiili laitteella*/
@media screen and (max-width: 900px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
  }

  .menu-toggle {
    width: 30px;
    height: 24px;
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--light);
    cursor: pointer;
    margin: 0;
    position: relative;
  }

  .menu-toggle span,
  .menu-toggle span::before,
  .menu-toggle span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--light);
    border-radius: 2px;
    transition: all 0.2s ease;
  }

  .menu-toggle span::before {
    content: '';
    top: -10px;
  }

  .menu-toggle span::after {
    content: '';
    top: 10px;
  }

  .menu-toggle.open span {
    background: transparent;
  }

  .menu-toggle.open span::before {
    transform: rotate(45deg) translate(0px, 0px);
    top: 0;
  }

  .menu-toggle.open span::after {
    transform: rotate(-45deg) translate(0px, -0px);
    top: 0;
  }

  .navbar h2 {
    position: relative;
  }

  .navbar nav {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px; /* navbarin korkeus */
    left: 0;
    background-color: rgba(69, 123, 157, 0.85);
    backdrop-filter: blur(10px);
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
    z-index: 1001;
  }

  .navbar nav.active {
    display: flex;
    max-height: 500px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .navbar a {
    text-align: center;
    display: block;
    padding: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex: 50%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 400px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .cardimg {
    float: none;
    display: block;
    width: 70%;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .about-us {
    text-align: center;
  }
}
